.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(192, 125, 136, 0.74);
  box-shadow: 1px 1px 20px 2px rgba(38, 48, 58, 0.1);
  /* padding: 5px; */
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
}
.header :nth-child(n) {
  text-decoration: none;
}
.logo {
  /* width: 200px; */
  height: 40px;
}

.logoCart {
  width: 26px;
  height: 13px;
  margin-right: 25px;
  margin-top: 5px;
}

.home {
  font-size: 35px;
  display: inline;
  position: relative;
  text-decoration: none;
  color: black;

  /* font-family: ; */
}

.number {
  color: red;
  position: relative;
  top: -17px;
  right: -10px;
  /* border: 1px solid rgba(128, 128, 128, 0.589); */
  border-radius: 50px;
  padding: 0 5px;
  /* background-color: rgba(128, 128, 128, 0.568); */
}
