.flexed{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    }
    
    .input{
    
        margin-bottom: 2rem;
    }
    .btn{
        background-color:rgb(88, 102, 117) ;
        color: white;
        border: none;
        width: 8rem;
        height: 3rem;
        cursor: pointer;
        
    }
    
    .btn:hover {
        background-color: rgb(238, 54, 52);
        color: black;
      }