/* .courusel {
  width: 60%;
  height: 600px;

  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
  padding: 0;
}
.couruselinner {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.couruselinner .left {
  flex: 5%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  display: grid;
  align-items: center;
  color: white;
  cursor: pointer;
  font-size: 30px;
}
.couruselinner .center {
  flex: 90%;
  height: 100%;
  display: grid;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  text-align-last: center;
}

.couruselinner .right {
  flex: 5%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  display: grid;
  align-items: center;
  color: white;
  cursor: pointer;
  font-size: 30px;
} */
.sliderImg {
  margin-left: 170px;
  width: 600px;
}
.pcImg {
  width: 500px;
  object-fit: cover;
}
